{% comment %}
	Start the desktop & desktop-xl nav
	▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
{% endcomment %}
<nav id="nav_desktop_click-enabled" class="globalNav">
</nav>


{% comment %}
    Start the mobile & tablet nav
    ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

{% endcomment %}
<nav id="nav_mobile_tablet_touch-enabled" class="globalNav">
</nav>
