{% comment %}
	Start the desktop & desktop-xl nav
	▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
{% endcomment %}
<nav id="nav_desktop_click-enabled" class="navGlobal navGlobal--desktop">
    desktop
</nav>


{% comment %}
    Start the mobile & tablet nav
    ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

{% endcomment %}
<nav id="nav_mobile_tablet_touch-enabled" class="navGlobal navGlobal--mobileTablet">
    mobile
</nav>
