---
title: &title Home
headline: Home
subheadline: Welcome to the Home Page
---
<!DOCTYPE html>
<html lang="en" id="{{ site.name | downcase }}-html">
	<head>
		{% include head01.liquid %}
	</head>
	<body>
		{% include navigation/navGlobal.liquid %}
		<main class="mainContent">

			<div class="home home--style01">

				<header class="home__header">

					<h1 class="home__h1">{{ page.headline }}</h1>
					<h2 class="home__h2">{{ page.subheadline }}</h2>

				</header>

			</div>
		</main>
		{% include footer01.liquid %}
	</body>
</html>
