// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
// ▒ Place global/project-level styles here
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒

html {
  height: 100%;
  background: $color-bkgd;
}

body {
  @include flex-container-display();
  @include flex-container-flow(nowrap column);
  height: 100vh; /* Avoid the IE 10-11 min-height issue. */
  padding: $global-nav-height-desktop 0 0 0;
}

//  Text selection
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
::-moz-selection {
  background-color: $color-white-1;
  color: $color-bkgd;
}

::selection {
  background-color: $color-white-1;
  color: $color-bkgd;
}

//  Define HTML headings – <h1> to <h6>
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
h1 {

  font-size: 45px;
  line-height: 45px;
  color: $color-white-1;
  @include mobile {
	font-size: 40px;
	line-height: 40px;
  }
  @include tablet {
	font-size: 40px;
	line-height: 40px;
  }
}

h2 {
  font-size: 27px;
  line-height: 27px;
}

h3 {
  font-size: 25px;
  line-height: 25px;
}

h4 {
  font-size: 23px;
  line-height: 23px;
}

h5 {
  font-size: 22px;
  line-height: 22px;
}

h6 {
  font-size: 21px;
  line-height: 21px;
}

h2, h3, h4, h5, h6 {
  color: $color-gray-1;
}

//  Define <em> (emphasized) & <strong> (important or strongly emphasized) tags
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
em {
  padding: 0 3px 0 3px;
  background: $color-blue-1;
  font-style: italic;
  color: $color-white-1;
}

strong {
  font-weight: bold;
  color: $color-white-1;
}


//  mainContent --- Gets applied to <main> element
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
.mainContent {
  z-index: 1;
  min-height: 45vh;
  padding: 0 $global-padding-size-1 $global-padding-size-1 $global-padding-size-1;
  @include flex(1 0 auto); /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */

  overflow-x: hidden;
}

//  Global <footer> with <time>
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
.footer {
  display: block;
  width: 100%;
  padding: $global-padding-size-2 $global-padding-size-1 $global-padding-size-2 $global-padding-size-1;
  background: $color-white-1;
  text-align: center;
  @include flex(1);

  time {
	font-size: 12px;
  }
}
.footer__p{
  margin: 0 0 15px 0;
}

.footer__button {
  position: relative;
  display:inline-block;
  width:auto;
  height:auto;
  margin: 0;
  padding:0 20px;
  border:0;
  outline:none;
  line-height:40px;
  overflow-x:hidden;
  cursor:pointer;
  text-align:center;
  white-space:nowrap;
  text-decoration:none;
  text-transform:uppercase;
  @include user-select();
  text-overflow:ellipsis;

  @include setPseudoClasses(transparent, $color-blue-1, $color-blue-2, $color-white-1);

  &.footer__button--full-width {
    display:block;
  }

  &.footer__button--copyright{
    line-height:inherit;
    padding: unset;
    height: unset;
    text-transform:unset;
    overflow: unset;
    @include setPseudoClasses(transparent, $color-bkgd, $color-blue-2, $color-bkgd);
  }
}


//  Apply to <img> elements to scale proportionately
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
.img--scaleProportionately {
  display: block;
  width: 100%;
  height: auto;
}

//  CTA’s, Buttons, Anchors/Hyperlinks
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
//a {
//  text-decoration:none;
//  &:link, &:visited, &.disabled, &[disabled] {
//    color: transparent;
//    background: transparent;
//  }
//
//  &:focus, &:hover, &:active {
//    color: transparent;
//    background: transparent;
//  }
//}

.button {
  position: relative;
  display:inline-block;
  width:auto;
  height:auto;
  margin: 0;
  padding:0 20px;
  border:0;
  outline:none;
  background:black;
  line-height:40px;
  color:white;
  overflow-x:hidden;
  cursor:pointer;
  text-align:center;
  white-space:nowrap;
  text-decoration:none;
  text-transform:uppercase;
  @include user-select();
  text-overflow:ellipsis;
  
  &.button--full-width {
    display:block;
  }

  &:link,
  &:visited {
       background: black;
       color: white;
  }

  &:active,
  &:focus,
  &:hover {
       background: grey;
       color: black;
  }
}

//  Lists and list items
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
ul {
  width: 100%;
  list-style-type: none;
  text-align: left;

  li {
	width: 100%;
	height: $global-nav-height-mobile;
  }
}


