// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
// ▒ Place global/project-level variables and media queries here
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒


//  Colors
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
$color-bkgd: rgb(245, 248, 250);
$color-blue-1:#4973AB;
$color-blue-2:#33A1DE;

// Global nav, footer, button, and hyperlink sizes
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
$global-nav-height:48px;
$global-nav-height-62:62px;
$global-padding-size-1:50px;
$global-padding-size-2:14px;
// Media queries
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
$media-rules: (
		mobile:					"(max-width: 719px)",
		tablet:					"only screen and (min-width: 720px) and (max-width: 959px)",
		desktop:				"only screen and (min-width: 960px) and (max-width: 1199px)",
		tablet-width-min:		720px,
		desktop-width-min:		960px,
		desktop-xl-width-min:	1200px
);

@mixin mobile {
  @media (max-width: #{ map_get($media-rules, tablet-width-min) - 1px}) {
	@content;
  }
}

@mixin tablet {
  @media (min-width: #{ map_get($media-rules, tablet-width-min)}) and (max-width: #{ map_get($media-rules, desktop-width-min) - 1px}) {
	@content;
  }
}

@mixin desktop {
  @media (min-width: #{map_get($media-rules, desktop-width-min)}) and (max-width: #{ map_get($media-rules, desktop-xl-width-min) - 1px}) {
	@content;
  }
}

@mixin desktop-xl {
  @media (min-width: #{ map_get($media-rules, desktop-xl-width-min)}) {
	@content;
  }
}

// Timing functions: Transition & Animation (updated 10/1/18)
// Full support: https://developer.mozilla.org/en-US/docs/Web/CSS/single-transition-timing-function#Timing_functions
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
$timingFuncLinear:			cubic-bezier(0.250, 0.250, 0.750, 0.750) !default;
$timingFuncEase:			cubic-bezier(0.250, 0.100, 0.250, 1.000) !default;

$timingFuncEaseIn:			cubic-bezier(0.420, 0.000, 1.000, 1.000) !default;
$timingFuncEaseInQuad:		cubic-bezier(0.550, 0.085, 0.680, 0.530) !default;
$timingFuncEaseInCubic:		cubic-bezier(0.550, 0.055, 0.675, 0.190) !default;
$timingFuncEaseInQuart:		cubic-bezier(0.895, 0.030, 0.685, 0.220) !default;
$timingFuncEaseInQuint:		cubic-bezier(0.755, 0.050, 0.855, 0.060) !default;
$timingFuncEaseInSine:		cubic-bezier(0.470, 0.000, 0.745, 0.715) !default;
$timingFuncEaseInExpo:		cubic-bezier(0.950, 0.050, 0.795, 0.035) !default;
$timingFuncEaseInCirc:		cubic-bezier(0.600, 0.040, 0.980, 0.335) !default;
$timingFuncEaseInBack:		cubic-bezier(0.600, -0.280, 0.735, 0.045) !default;

$timingFuncEaseOut:			cubic-bezier(0.000, 0.000, 0.580, 1.000) !default;
$timingFuncEaseOutQuad:		cubic-bezier(0.250, 0.460, 0.450, 0.940) !default;
$timingFuncEaseOutCubic:	cubic-bezier(0.215, 0.610, 0.355, 1.000) !default;
$timingFuncEaseOutQuart:	cubic-bezier(0.165, 0.840, 0.440, 1.000) !default;
$timingFuncEaseOutQuint:	cubic-bezier(0.230, 1.000, 0.320, 1.000) !default;
$timingFuncEaseOutSine:		cubic-bezier(0.390, 0.575, 0.565, 1.000) !default;
$timingFuncEaseOutExpo:		cubic-bezier(0.190, 1.000, 0.220, 1.000) !default;
$timingFuncEaseOutCirc:		cubic-bezier(0.075, 0.820, 0.165, 1.000) !default;
$timingFuncEaseOutBack:		cubic-bezier(0.175, 0.885, 0.320, 1.275) !default;

$timingFuncEaseInOut:		cubic-bezier(0.420, 0.000, 0.580, 1.000) !default;
$timingFuncEaseInOutQuad:	cubic-bezier(0.455, 0.030, 0.515, 0.955) !default;
$timingFuncEaseInOutCubic:	cubic-bezier(0.645, 0.045, 0.355, 1.000) !default;
$timingFuncEaseInOutQuart:	cubic-bezier(0.770, 0.000, 0.175, 1.000) !default;
$timingFuncEaseInOutQuint:	cubic-bezier(0.860, 0.000, 0.070, 1.000) !default;
$timingFuncEaseInOutSine:	cubic-bezier(0.445, 0.050, 0.550, 0.950) !default;
$timingFuncEaseInOutExpo:	cubic-bezier(01.000, 0.000, 0.000, 1.000) !default;
$timingFuncEaseInOutCirc:	cubic-bezier(0.785, 0.135, 0.150, 0.860) !default;
$timingFuncEaseInOutBack:	cubic-bezier(0.680, -0.550, 0.265, 1.550) !default;
