// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
// ▒ http-status-codes
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒


.http-status-codes {
  p:last-of-type {
    margin: 0 0 15px 0;
  }
}


.http-status-codes_button{
  position: relative;
  display:inline-block;
  left: 50%;
  min-width: 400px;
  height:auto;
  margin:0 auto;
  padding:0 20px;
  border:0;
  outline:none;
  background:black;
  line-height:$global-nav-height-desktop;
  color:white;
  overflow-x:hidden;
  cursor:pointer;
  text-align:center;
  white-space:nowrap;
  text-decoration:none;
  @include user-select();
  text-transform:uppercase;
  text-overflow:ellipsis;
  @include translate3d(-50%);

  &.http-status-codes_button--full-width {
    display:block;
  }

  @include setPseudoClasses($color-blue-2, $color-bkgd, $color-blue-1, $color-bkgd);
}