// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
// ▒ Global Navigation
// ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
.navGlobal{
  position: fixed;
  z-index: 99999;
  top:0;
  left: 0;
  width: 100%;
  //background: $color-white-1;
  @include flex(0 0 auto);
}



.navGlobal--desktop{
  height: $global-nav-height-desktop;
  @include mobile {
    display: none;
  }

  @include tablet {
    display: none;
  }
}

.navGlobal--mobileTablet{
  height: $global-nav-height-mobile;
  display: none; // hiding temporarily
  @include desktop {
    display: none;
  }
  @include desktop-xl {
    display: none;
  }
}


.navGlobal__button {
  position: relative;
  display:inline-block;
  width:auto;
  height:auto;
  margin: 0;
  padding:0 20px;
  border:0;
  outline:none;
  background:transparent;
  line-height:$global-nav-height-desktop;
  color:$color-white-1;
  overflow:hidden;
  cursor:pointer;
  text-align:center;
  white-space:nowrap;
  text-decoration:none;
  text-transform:uppercase;
  @include user-select();
  text-overflow:ellipsis;

  &.button--full-width {
    display:block;
  }

  @include setPseudoClasses(transparent, $color-white-1, rgba(255,255,255,1), $color-blue-3, .3s);

  @include mobile{
    line-height:$global-nav-height-mobile;
  }
  @include tablet{
    line-height:$global-nav-height-mobile;
  }
}